In [30]:
name = 'Jack'
age = 18
height = 175.425

## 百分号

In [31]:
'name = %s' % name

'name = Jack'

In [32]:
'name = %s, age = %d, height=%.2f' % (name, age, height)

'name = Jack, age = 18, height=175.43'

## format

In [33]:
'name = {}, age = {}, height={:.2f}'.format(name, age, height)

'name = Jack, age = 18, height=175.43'

In [34]:
'name = {0}, age = {1}, height={2:.2f}'.format(name, age, height)

'name = Jack, age = 18, height=175.43'

## f-string

In [35]:
f'name = {name}, age = {age}, height={height:.2f}'

'name = Jack, age = 18, height=175.43'